#citrina{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 60%;
    height: 100px;
    margin:  20px;
    padding: 25px;
    background-color: aquamarine;
    border: 2px solid

    
    

}