h1 {
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    background-color: yellow;
    text-decoration-color: aqua;
    text-align: center;
}